---
- name: Simple Collections Demo
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Run a long shell script asynchronously
      command: /opt/long_script.sh
      async: 600   # Max seconds to run
      poll: 0      # Fire and forget (don't wait for completion)
      register: job_result

    - name: Check async job status
      async_status:
        jid: "{{ job_result.ansible_job_id }}"
      register: job_status
      until: job_status.finished
      retries: 5
      delay: 10