---
- name: lookup demo
  hosts: worker1
  any_errors_fatal: true
  tasks:
    - name: print hello world from localhost
      debug:
        msg: hello world from localhost
    - name: print hello world from worker
      debug:
        msg: hello world from worker