- hosts: worker
  name: demo on command module
  become: yes
  tasks:
    - name : printing date
      command: date
    - name : printing resolve.conf file
      command: cat /etc/resolv.conf  
    - name : printing resolve.conf file using chdir option
      command: cat resolv.conf  chdir=/etc
    - name : creating directory
      command: mkdir /folder creates=/folder