---
- name: lookup demo
  hosts: worker
  tasks:
    - name: print hello world
      debug:
        msg: hello world 
    - name: include task from another file
      include_tasks:
        file: universe.yml