- hosts: worker
  name: play1
  vars:
    names:
      - tasmiya
      - tasmiya1
      - tasmiya2
      - tasmiya3
  tasks:
    - name : printing list item
      debug: 
        msg: loop elements {{item}}
      with_items: "{{names}}"