---
- name: Async demo
  hosts: worker
  gather_facts: no
  tasks:
    - name: running long query script
      command: long_script.sh
      async: 20
      poll: 0
      register: job_result
    - name: wait for job to complete
      async.status:
        job_id: "{{job_result.ansible_job_id}}"
      register: job_status
      until: job_status.finished
      retry: 5
      delay: 10