---
- name: Async demo
  hosts: worker
  tasks:
    - name: service restart
      service:
        name: sample service
        state: restarted
      ignore_errors: yes
    - name: print statemnet
      command: cat long_script.sh
      register: result
      failed_when: result.rc != 0