- hosts: worker
  name: demo on command module
  tasks:
    - name : printing date
      command: date
    - name : printing resolve.conf file
      command: cat /etc/resolve.conf
    - name : printing resolve.conf file using chdir option
      command: cat resolve.conf chdir=/etc
    - name : creating directory
      command: mkdir /folder creates=/folder