---
- name: Simple Collections Demo
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Generate random string using community.general
      community.general.random_string:
        length: 6
      register: rand_result

    - name: Show random string
      debug:
        var: rand_result.random_string