- name: Collection demo for older Ansible
  hosts: localhost
  gather_facts: no

  tasks:
    - name: Create a temporary file
      community.general.tempfile:
        state: file
      register: temp_result

    - name: Show temp file path
      debug:
        var: temp_result.path