---
- name: Simple Collections Demo
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Use sysctl from community.general
      community.general.sysctl:
        name: net.ipv4.ip_forward
        value: '1'
        state: present