- hosts: worker
  name: templating demo
  vars:
    http_port: 8005
  tasks:
    - name : templating demo
      lineinfile:
        src: demo.j2
        regexp: "{{inventory_hostname}}"
        line: worker
        dest: /home/centos/
        
        
   