---
- name: Async demo
  hosts: worker
  gather_facts: no
  become: yes
  tasks:
    - name: running long query script
      copy:
        src: long_script.sh
        dest: /opt
    - name: running long query script
      command: /opt/long_script.sh
      async: 20
      poll: 0
      register: job_result
    - name: wait for job to complete
      async_status:
        jid: "{{job_result.ansible_job_id}}"
      register: job_status
      until: job_status.finished
      retries: 5
      delay: 10